body {
    background: #8d122f;
}

.bg-white {
    background-color: #ffffff !important;
}

.text-white {
    text-color: #ffffff !important;
}

.text-red {
    text-color: #8d122f !important;
}

.bg-red {
    background-color: #8d122f !important;
}

.infobox {
    background: white;
    border-radius: 15px;
}

.coloured-text {
    color: #8d122f;
}

.link:link {
    text-decoration: none;
}

.link {
    color: #8d122f !important;
}

h2.link-text {
    font-weight: bold;
}

.link-container:hover {
    opacity: 95%;
}

.additionalinfo-text {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
}

.underline {
    text-decoration-line: underline;
}

.sidebar-text {
    color: #8d122f;
    font-weight: 500;
    font-size: 13px;
}

.sidebar-border {
    border-color: #8d122f !important;
    border-width: 5px !important;
    border-radius: 15px !important;
}

.sidebar-button-main {
    border-radius: 12px !important;
}

.sidebar-button-nav {
    border-radius: 12px 0px 0px 12px;
    width: 100%;
}

.carousel .carousel-indicators button {
    background-color: #c4c4c4;
    height: 10px;
    border-radius: 12px;
}

.carousel .carousel-indicators .active {
    background-color: #8d122f;
}

.carousel .carousel-inner .carousel-item {
    visibility: hidden;
    margin-bottom: 5rem;
}

.carousel .carousel-inner .carousel-item.active {
    visibility: visible;
}

.mobile-menu-link {
    color: white;
}

.mobile-menu-link:hover {
    color: white;
    opacity: 80%;
}

.mobile-menu-link:link {
    color: white;
}

@media (min-width: 992px) {
    #sidebar {
        background: white;
    }
}
