body {
    background: #8d122f;
}

.infobox {
    background: white;
    border-radius: 15px;
}

.announcements-text {
    color: #8d122f;
    font-weight: 600;
}

.carousel .carousel-indicators button {
    background-color: #c4c4c4;
    height: 10px;
    border-radius: 12px;
}

.carousel .carousel-indicators .active {
    background-color: #8d122f;
}

.carousel .carousel-inner .carousel-item {
    visibility: hidden;
    margin-bottom: 5rem;
}

.carousel .carousel-inner .carousel-item.active {
    visibility: visible;
}
