body {
    background: #8d122f;
}

.infobox {
    background: white;
    border-radius: 15px;
}

.announcements-text {
    color: #8d122f;
    font-weight: 600;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel .carousel-indicators button {
    background-color: #c4c4c4;
    height: 10px;
    border-radius: 12px;
}

.carousel .carousel-indicators .active {
    background-color: #8d122f;
}

.carousel .carousel-inner .carousel-item {
    visibility: hidden;
    margin-bottom: 5rem;
}

.carousel .carousel-inner .carousel-item.active {
    visibility: visible;
}
